# Indice des prix à la consommation

In [1]:
from datetime import datetime, timedelta

from io import BytesIO
from urllib.request import urlopen
from zipfile import ZipFile

from glob import glob

import pandas as pd

## téléchargement

In [2]:
start_year = 1996
start_month = 1

last_month = (datetime.now().replace(day=1) - timedelta(days=1))

end_year = last_month.strftime('%Y')
end_month = last_month.strftime('%-m')

(end_year, end_month)

('2023', '6')

In [3]:
url = f"https://www.insee.fr/fr/statistiques/serie/telecharger/xlsx/001762445?ordre=antechronologique&transposition=donneescolonne&periodeDebut={start_month}&anneeDebut={start_year}&periodeFin={end_month}&anneeFin={end_year}&revision=sansrevisions"

In [ ]:
with urlopen(url) as zipresp:
        with ZipFile(BytesIO(zipresp.read())) as zfile:
            zfile.extractall('./tmp')

## chargement dans un dataframe

In [6]:
ipc = (
    pd.
    read_excel(
        glob('./tmp/*.xlsx')[0],
        skiprows = 3,
        names = ['date', 'ipc']
    )
    .assign(date = lambda df: pd.to_datetime(df.date))
    .set_index('date')
    .sort_index()
)

ipc

/home/tk/.virtualenvs/kitchen/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

               ipc
date
1996-01-01   72.80
1996-02-01   72.90
1996-03-01   73.60
1996-04-01   73.50
1996-05-01   74.20
...            ...
2023-02-01  128.30
2023-03-01  130.76
2023-04-01  131.46
2023-05-01  131.88
2023-06-01  132.21

[330 rows x 1 columns]

## transformation en csv

In [7]:
ipc.to_csv('datasets/ipc.csv')